* {
    margin: 0;
    padding: 0;
}
:root {
    font-family: 'Roboto', sans-serif;
}
body {
    max-width: 100vw;
    max-height: 100vh;
    background-color: #a5b4fc;
}
li {
    list-style-type: none;
}
.card, .header-container, .right-card {
    background-color: #eef2ff;
}
.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
}

.header-container {
    grid-column: 2 / 3; 
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}
.top-header-container {
    display: grid;
    grid-template-columns: 2fr 3fr;  
}
.search {
    justify-self: start;
    padding-left: 30px;
    align-self: center;
    display: flex;
    gap: 10px;
}
.search-img {
    border: none;
    height: 25px;
    width: 25px;
    background-color:  #eef2ff;
}
.bell-img {
    height: 25px;
    width: 25px;
}
.search-input {
    border: none;
    border-radius: 20px;
    padding: 8px 80px 8px 20px;
}
.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 3 / 3;
    padding-right: 30px;
    align-items: center;
}
.bottom-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.welcome {
    display: grid;
    grid-template-columns: 1fr 7fr;
    justify-content: start;
    align-self: center;
    padding-left: 30px;
}
#welcome-avatar {
    align-self: center
}
.welcome-msg {
    display: grid;
    justify-content: start;
}
.btn-grp {
    grid-column: 3 / 3;
    align-self: center;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.header-btns {
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: white;
    border: none;
    background-color: #312e81;
    font-weight: bold;
    
}
.header-btns:hover {
    background-color: #4f46e5;
}

.sidebar-container {
    grid-row: 1 / 3; 
    display: grid;  
    grid-template-rows: 100px 275px 150px;
    grid-template-columns: 1fr;
    grid-gap: 10px;   
    background-color: #312e81;
    color: white;   
    font-weight: bold;
   
}
#dash-img {
    height: 40px;
    width: 40px;
    background-color: #eef2ff;
    border-radius: 10%;    
}
.nav-img {
    height: 25px;
    width: 25px;
    background-color: #eef2ff;
    border-radius: 10%;  
}
.sidebar-title {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px;
    font-size: 32px;
    align-items: start;
}
.side-nav {
    padding: 0;
}
.nav-link {
    font-size: 18px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 20px;
}
.main-content-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-self: start;
}
.project-container {
    padding: 20px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}
.card {
    border-left: 10px solid #1e1b4b;
    border-radius: 10px;
    padding: 20px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr;

}
.card-btn {
    display: grid;
}
.card-pic {
    grid-row:  3/ 3;
    justify-self: end; 
    align-self: end;
    height: 25px;
    width: 25px;
   
}
.right-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    align-self: start;
    justify-self: center;
}
.right-card {
    border-radius: 10px;
    padding: 20px;
    height: 250px;
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
}
.announcement {
  border-bottom: 1px solid #312e81;
  padding-top: 20px;
}
.container-title {
    padding: 10px;
}
.trending {
    padding: 0;
}
.trending-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
}
.name {
    display: grid;
    justify-content: start;
    grid-template-rows: 1fr 1fr;
}
.avatar {
    align-self: center;
}
  